<?xml version="1.0"?>
<!--
/**
 * Mavenbird Technologies Private Limited
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://mavenbird.com/Mavenbird-Module-License.txt
 *
 * =================================================================
 *
 * @category   Mavenbird
 * @package    Mavenbird_Core
 * @author     Mavenbird Team
 * @copyright  Copyright (c) 2018-2024 Mavenbird Technologies Private Limited ( http://mavenbird.com )
 * @license    http://mavenbird.com/Mavenbird-Module-License.txt
 */ 
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <update id="Magento_Backend::mbmenu" title="Mavenbird" module="Magento_Backend" sortOrder="10" resource="Magento_Backend::mbmenu" />
        <add id="Mavenbird_Core::extensions"
             title="Modules &amp; Notifications"
             module="Mavenbird_Core"
             translate="title"
             sortOrder="9998"
             action="adminhtml/system_config/edit/section/mavenbird_core"
             parent="Magento_Backend::mbmenu"
             resource="Mavenbird_Core::extensions"/>   
         <add id="Mavenbird_Core::marketplace"
             title="Mavenbird Marketplace"
             module="Mavenbird_Core"
             translate="title"
             sortOrder="9999"
             action="core/marketplace"
             parent="Magento_Backend::mbmenu"
             resource="Mavenbird_Core::marketplace"/>  
    </menu>
</config>
