<?xml version="1.0"?>
<!--

MageMoto 

@category   MageMoto
@package    MageMoto_Core
@copyright  Copyright © 2006-2018 MageMoto (https://www.magemoto.com)
@license    https://www.magemoto.com/magento-extension-license/ 

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <update id="Magento_Backend::mbmenu" title="Mavenbird" module="Magento_Backend" sortOrder="10" resource="Magento_Backend::mbmenu" />
        <!-- <add id="Mavenbird_Core::menu"
             title="Mavenbird"
             module="Mavenbird_Core"
             translate="title"
             sortOrder="69"
             resource="Mavenbird_Core::menu"/> -->
        <add id="Mavenbird_Core::extensions"
             title="Modules &amp; Notifications"
             module="Mavenbird_Core"
             translate="title"
             sortOrder="9998"
             action="adminhtml/system_config/edit/section/mavenbird_core"
             parent="Magento_Backend::mbmenu"
             resource="Mavenbird_Core::extensions"/>   
         <add id="Mavenbird_Core::marketplace"
             title="Mavenbird Marketplace"
             module="Mavenbird_Core"
             translate="title"
             sortOrder="9999"
             action="core/marketplace"
             parent="Magento_Backend::mbmenu"
             resource="Mavenbird_Core::marketplace"/>  
    </menu>
</config>
