<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mavenbird" translate="label" sortOrder="10">
            <label>Mavenbird</label>
        </tab>
        <section id="mavenbird_core" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Modules &amp; Notifications</label>
            <tab>mavenbird</tab>
            <resource>Mavenbird_Core::config</resource>
            <group id="module_info" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Module Versions</label>            
                <field id="validation_warning" translate="label" type="note" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Warning</label>
                    <comment><![CDATA[<span style="color:red;font-weight:bold;">IMPORTANT: If the module validation file is missing or invalid three times, your module will be blocked.</span>]]></comment>
                </field>
                <field id="core_version" translate="label" type="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Installed Modules</label>
                    <frontend_model>Mavenbird\Core\Block\Adminhtml\System\Config\ModuleVersion</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
