<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- TAB -->
        <tab id="mavenbird" translate="label" sortOrder="10">
            <label>Mavenbird</label>
        </tab>

        <!-- SECTION -->
        <section id="mavenbird_core" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Mavenbird Settings</label>
            <tab>mavenbird</tab>
            <resource>Mavenbird_Core::config</resource>

            <!-- GROUP 1: Installed Modules -->
            <group id="module_info" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
               <frontend_model>Mavenbird\Core\Block\Adminhtml\System\Config\LicenseInfo</frontend_model>
            </group>

            <!-- GROUP 2: Notifications -->
            <group id="notifications" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <frontend_model>Mavenbird\Core\Block\Adminhtml\System\Config\ModuleVersion</frontend_model>
            </group>

            <!-- GROUP 3: Support -->
            <group id="support" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
        
             <frontend_model>Mavenbird\Core\Block\Adminhtml\System\Config\NewModules</frontend_model>
            </group>
        </section>
    </system>
</config>
